<mat-card>
  <mat-card-header class="icon-container">
    <div matCardAvatar>
      <mat-icon>
        account_balance
      </mat-icon>
    </div>
  </mat-card-header>
  <mat-card-header>
    <mat-card-title>Transferring From:</mat-card-title>
    <mat-card-subtitle>Bank</mat-card-subtitle>
  </mat-card-header>
  <mat-card-header>
    <mat-card-title>Transferring To:</mat-card-title>
    <mat-card-subtitle>dest</mat-card-subtitle>
  </mat-card-header>
  <mat-form-field>
    <input type="number" matInput placeholder="Transfer Amount">
  </mat-form-field>
  <mat-card-header>
    <button mat-raised-button color="primary">
      <mat-icon>
        payment
      </mat-icon>
      Send
    </button>
  </mat-card-header>
  <mat-card-header>
    <button mat-stroked-button color="warn">
      <mat-icon>
        cancel
      </mat-icon>
      Cancel
    </button>
  </mat-card-header>
  <mat-card-header class="icon-container">
    <div matCardAvatar>
      <mat-icon>
        account_balance
      </mat-icon>
    </div>
  </mat-card-header>
</mat-card>
