<mat-card>
  <mat-card-header class="icon-container">
    <div matCardAvatar>
      <mat-icon>
        account_balance
      </mat-icon>
    </div>
  </mat-card-header>
  <mat-card-header>
    <mat-card-title>Transferring From:</mat-card-title>
    <mat-card-subtitle>{{selectedTransferSource ? selectedTransferSource : 'Bank'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let player of players" [value]="player.playerId"
                  [disabled]="player.playerId === selectedTransferSource">
        {{player.fullName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Transfer Amount">
  </mat-form-field>
  <mat-card-header>
    <button mat-raised-button color="primary">
      <mat-icon>
        payment
      </mat-icon>
      Send
    </button>
  </mat-card-header>
  <mat-card-header>
    <button mat-stroked-button color="warn" (click)="cancelTransferProcess()">
      <mat-icon>
        cancel
      </mat-icon>
      Cancel
    </button>
  </mat-card-header>
  <mat-card-header class="icon-container">
    <div matCardAvatar>
      <mat-icon>
        account_balance
      </mat-icon>
    </div>
  </mat-card-header>
</mat-card>
