.player-container {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-form-field {
    flex: 1;

    margin: 1em;

    input[disabled] {
      color: #000;
    }

    input[name='bankBalance'] {
      border: none;
      font-size: xx-large;
    }

    input.balanceIncreased {
      animation-name: increaseBalanceAnimation;
      animation-duration: 0.75s;
    }

    input.balanceDecreased {
      animation-name: decreaseBalanceAnimation;
      animation-duration: 0.75s;
    }

    button {
      margin: 0;
    }
  }

  button {
    flex: 0.5;

    margin: 1em;
  }
}

@keyframes increaseBalanceAnimation {
  50% {
    color: #0f0;
    font-size: xx-large;
  }
  100% {
    color: #000;
    font-size: xx-large;
  }
}

@keyframes decreaseBalanceAnimation {
  50% {
    color: #f00;
    font-size: xx-large;
  }
  100% {
    color: #000;
    font-size: xx-large;
  }
}
