<div class="player-container">
  <div matCardAvatar>
    <mat-icon>person</mat-icon>
  </div>
  <mat-form-field>
    <input matInput placeholder="First Name" [formControl]="form.get('firstName')" name="firstName">
    <button mat-button matSuffix (click)="editSaveOrCancelAction(player.playerId, 'firstName')">
      <mat-icon>
        {{ form.get('firstName').disabled ? 'edit' : form.valid ? 'save' : 'cancel'}}
      </mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" [formControl]="form.get('lastName')" name="lastName">
    <button mat-button matSuffix (click)="editSaveOrCancelAction(player.playerId, 'lastName')">
      <mat-icon>
        {{ form.get('lastName').disabled ? 'edit' : form.valid ? 'save' : 'cancel'}}
      </mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-icon matPrefix>account_balance_wallet</mat-icon>
    <span matPrefix>&nbsp;&nbsp;&nbsp;</span>
    <input matInput placeholder="Bank Balance" [formControl]="form.get('bankBalance')" name="bankBalance"
           [ngClass]="{
              'balanceIncreased': player.balanceIncreased,
              'balanceDecreased': player.balanceDecreased
           }"
    >
  </mat-form-field>

  <button type="button" mat-raised-button color="primary" (click)="selectTransferSource(player.playerId)"
          [disabled]="!!selectedTransferSource || deactivateTransferButton"
  >
    <mat-icon>credit_card</mat-icon>
    Transfer
  </button>
</div>
